body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
:root{
    --maincolor:#045bbf;
    --subcolor:#ffffff;
    --secondcolor:rgb(238, 255, 20);
    --fadedmaincolor:#045bbf58;
    --titlefontsize:35pt;
    --subheadingfontsize:25pt;
    --leadfontsize: 14pt;
    --highlightfontsize:12pt;
    --titlefontweight:600;
    --leadfontweight:500;
    --mainborderradius:14pt;
    --subborderradius:10pt;
    --inputborderradius:7pt;
    --boxshadowcolor: rgb(200, 200, 200);
    --lightgrey:rgb(220, 219, 219);
    --darkgrey:#494949;
    --highlighttextcolor:rgba(126, 126, 126, 0.873);
}
p{
    margin: 0;
}
a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}
figure{
    margin: 0;
}
button{
    cursor: pointer;
    transition: .3s ease-in-out;
    text-transform: uppercase;
}
button:active{
    transform: scale(1.2);
}
.pill,.activepill{
    border-radius: var(--mainborderradius);
    transition: .3s ease;
}
.pill:hover{
    color: var(--lightgrey) !important;
    font-size: 18pt;
}
.logo {
    height: 2.5em;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .4rem solid var(--maincolor);
    cursor: pointer;
}

.logo>div {
    color: var(--maincolor);
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}

.logo>p {
    font-size: var(--leadfontsize);
    font-weight: var(--leadfontweight);
    color: var(--maincolor);
    letter-spacing: 15px;
}
.activepill{
    color: var(--maincolor);
    display: flex;
    flex-direction: column;
    position: relative;
}
.activepill:after{
    content:"";
    width: 100%;
    height: 3px;
    border-radius: var(--subborderradius);
    background-color: var(--maincolor);
    position: absolute;
    bottom: -13px;
}
.mainsimblekbtn {
    padding: 0.5rem 0;
    color: var(--subcolor);
    background-color: var(--maincolor);
    border: none;
    border-radius: var(--subborderradius);
    font-weight: var(--leadfontweight);
    text-transform: none !important;
    width: 100%;
}
.mainsimblekbtn:disabled{
    color: var(--darkgrey);
    background-color: var(--lightgrey);
}
.subsimblekbtn{
    padding: .375rem 1rem;
    color:black;
    background-color: var(--secondcolor);
    border-radius: var(--mainborderradius);
    border: 3px solid black;
    font-weight: 700;
    width: max-content;
}
.Container{
    padding: 0 5%;
    margin: 5rem 0;
}
.center{
    display: flex;
    justify-content: center !important;
}
.start{
    display: flex;
    justify-content: flex-start !important;
}
.column{
    flex-direction: column;
    align-items: center;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 30px;
    justify-content: space-between;
}
.titletext,.subheadingtext{
    width: 100%;
    font-size: var(--subheadingfontsize);
    font-weight: var(--titlefontweight);
    color: rgba(0, 0, 0, 0.855);
    text-align: start;
    margin:2rem 0 !important;
    display: flex;
    flex-direction: column;
}
.titletext::after,.subheadingtext::after{
    content:"";
    width: 70px;
    height: 8px;
    border-radius: var(--subborderradius);
    background-color: var(--secondcolor);
    margin-top: .7rem;
}
.subheadingtext{
    font-size: calc(var(--subheadingfontsize) - 5pt);
}
.textcenter{
    text-align: center !important;
    align-items: center;
}
.leadtext{
    font-size: var(--leadfontsize);
    font-weight: var(--leadfontweight);
    margin:0;
}
.highlighttext{
    font-size: var(--highlightfontsize);
    color: var(--highlighttextcolor);
    line-height: 1.5rem;
}
.articletext{
    line-height: 2rem;
    color:#706f6f;
    margin: 1rem 0;
}
.services-article{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 280px;
    gap:10px
}
.services-article>svg{
    margin-bottom: .6rem;
}
.promotional-banner{
    width: 100%;
    background-color: var(--maincolor);
    color:var(--subcolor);
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 2rem 0;
}
.promotional-banner>strong{
    font-size: 25pt;
    font-weight: var(--titlefontweight);
}
.about-simblek{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.aboutinfo p{
    max-width: 300px;
    margin: 1.5rem 0;
    line-height: 2rem;
}
.aboutinfo h2{
    color: var(--maincolor);
    font-size: var(--titlefontsize);
    margin: 0;
}
.about-simblek img{
    width: 500px;
    border-radius: var(--subborderradius);
    border: 5px solid var(--fadedmaincolor);
}
.service-man img{
    max-width: 500px;
    width: 100%;
}
.logo{
    animation-fill-mode: backwards;
    animation-play-state: paused;
    transition: .3s ease;;
}
.logo:hover{
    animation: spin .5s linear infinite !important;
    animation-play-state: running !important;
}
.simblek-input{
    border: 1px solid var(--lightgrey);
    box-shadow: 0px 0px 2px var(--lightgrey);
    border-radius: var(--inputborderradius);
    width: 100%;
    max-width: 450px;
    padding: .5rem .75rem;
    margin-bottom: .75rem;
    transition: .2s linear;
}
.simblek-input:focus{
    outline: none;
    border: 3px solid var(--fadedmaincolor);
}
.simblek-input::placeholder{
    color:rgb(155, 155, 155)
}
.notfound{
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    gap:30px
}
.notfound h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
@media screen and (max-width:600px) {
    .about-simblek img{
        max-width: 300px;
    }
    .Container{
        padding: 0 1rem;
    }
}
@media screen and (max-width:400px) {
    .titletext{
        font-size: calc(var(--subheadingfontsize) - 5pt);
    }
}